# Debugging

## Assignment
Complete the following code cells by adding appropriate print statements, which will help identify the source of the problem. 

**Don't solve the problem, add a print statement which will help solve the problem.**

## Example
### Problem
Notice that when the cell is run, it has a *TypeError:* *can't multiply sequence by non-int of type 'str'*

In [1]:
num = input("Give me a number to square")
squared = num * num

Give me a number to square 8

TypeError: can't multiply sequence by non-int of type 'str'

### Solution
There are two solutions, the first is a simple *print()* statement and the better solution would be a *print(type())* statement.

In [ ]:
num = input("Give me a number to square")
print(f"{num=}")
squared = num * num

In [ ]:
num = input("Give me a number to square")
print(f"{type(num)=}")
squared = num * num

------------------------------------------------------

## Problems
Add a print statement to resolve the *"Show why..."*. **Do not solve the problem!**

Data Cell below must be executed for the remaining cells to execute.

In [2]:
# Data Cell for problems:
table = {
   "fruits": ["snack", "meal", "day"],
   "apple": [],
   "banana": [],
   "orange": [],
    "grape": []
}
alist = [1, 2, 3, 4]
x = 10
j = 1
k = 10
l = -1
i_multiples = []
fruit = 'kiwi'

1. Show why line 2 has an `unsupported operand type`

In [33]:
print(alist)
power_of_a = alist ** 2

[1, 2, 3, 4]

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

2. Show why line 2 has an `has no attribute 'stddev'`

In [35]:
import statistics
print(alist.stdev)
print(statistics.stddev(alist))

AttributeError: 'list' object has no attribute 'stdev'

3. Show why line 3 has a `list index out of range`

In [18]:
blist = []
for i in range(5):
    blist.append(alist[i] * 4)
    print(blist[i])

4
8
12
16

IndexError: list index out of range

4. Show why every other number in *blist* is a 0.

In [31]:
blist = []
for i in range(4):
    for j in range(2):
        print(f"{j=}")
        blist.append(alist[i] * j)

j=0
j=1
j=0
j=1
j=0
j=1
j=0
j=1

5. The desired result is 100 divided by an integer ranging from 10 to 1. Show why the print statement isn't printing the correct results.

In [32]:
for i in range(x, 0, -1):
    print(f"{i=}")
    print(f"{x=}")
    print(f"{100/x}")
#print(i_multiples{

i=10
x=10
10.0
i=9
x=10
10.0
i=8
x=10
10.0
i=7
x=10
10.0
i=6
x=10
10.0
i=5
x=10
10.0
i=4
x=10
10.0
i=3
x=10
10.0
i=2
x=10
10.0
i=1
x=10
10.0

6. Show why *table* has a `KeyError`.

In [39]:
print(table)
table['grapes'].append(5)

{'fruits': ['snack', 'meal', 'day'], 'apple': [], 'banana': [], 'orange': [], 'grape': []}

KeyError: 'grapes'

7. Show why *sum* isn't adding correctly. Make sure the Data cell above has been executed properly.

In [65]:
print(f"{x}")
for i in range(5):
    print(f"{i=}")
    print(f"{sum=}")
    sum += x

10
i=0
sum=<built-in function sum>

TypeError: unsupported operand type(s) for +=: 'builtin_function_or_method' and 'int'

8. For values of i from 0 to 4, *total* will always equal 50, however it doesn't. Add a print statement to show why.

In [66]:
for i in range(5):
    print(f"{i=}")
    print(f"{x=}")
    print(f"{total=}")
    total += x

i=0
x=10

NameError: name 'total' is not defined

9. The loop isn't executing properly, show why it isn't.

In [68]:
#print(f"{j=}{k=}{l=}")
print(f"{list(range(j, k, l))}")
for i in range(j, k, l):
    print(f"{i=}{j=}{k=}{l=}")
    i_multiples.append(i * l)

[]

10. Show why *table* has a `KeyError`. *Hint: You need to know 2 things.*

In [71]:
print(table)
table[fruit].append(10, 20, 40)
print(table["fruit"])

{'fruits': ['snack', 'meal', 'day'], 'apple': [], 'banana': [], 'orange': [], 'grape': []}

KeyError: 'kiwi'