In [1]:
import pandas as pd
import plotly.express as px
import statistics
# Display's the datagraph
df = pd.read_csv("anscombe.csv")

In [6]:
# Average caluclation
data = df["x"]
data = df["y"]
sum = 0
total = 0
for n, element in enumerate(pd.read_csv("anscombe.csv")):
    sum += element
    total = n
avg = sum/total

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [5]:
sd = statistics.stdev(numbers)
f"The standard deviation is {sd}"
df.describe()
df.scatter().

SyntaxError: invalid syntax (4108528393.py, line 4)

In [13]:
df[df["dataset"] == 'anscombe.csv']

Empty DataFrame
Columns: [dataset, x, y]
Index: []

In [12]:
df[df["dataset"] == 'anscombe.csv'].describe()

         x    y
count  0.0  0.0
mean   NaN  NaN
std    NaN  NaN
min    NaN  NaN
25%    NaN  NaN
50%    NaN  NaN
75%    NaN  NaN
max    NaN  NaN